.education {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.education input {
  background-color: lightgrey;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 10px;
  transition: border 0.25s;
  cursor: pointer;
}
.buttons_container {
  display: flex;
  justify-content: space-between;
}
.remove_btn {
  padding: 10px;
  width: 100px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  background-color: lightcoral;
  transition: 0.25s;
  font-size: 17px;
  font-weight: bold;
}
.remove_btn:hover {
  background-color: crimson;
}

label {
  font-weight: bold;
  font-size: 18px;
}
