#root {
  max-width: 1200px;
  margin: 0 auto;
}
/* edit-side */
.edit_side {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 24px;
  height: fit-content;
  max-width: 750px;
}
/* resume-container component */
/* .resume.top {
  grid-template-rows: auto 1fr;
} */
.resume {
  background-color: #fff;
  /* display: grid; */
  width: 100%;
  height: 100%;
  top: 0;
  position: sticky;
}
/* personal-info component */
.personal_info {
  background-color: blue;
  padding: 36px 24px;
  width: 100%;
}
.personal_name {
  color: white;
  text-align: center;
}
.contact_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin: auto;
  margin-top: 10px;
  color: white;
}
/* education component */
.expand_section {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.forms_education {
  padding: 15px;
}
.edu_btn_container {
  display: flex;
  justify-content: center;
}
.add_edu_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border: 2px solid lightgrey;
  border-radius: 12px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
.add_btn_h3 {
  margin-left: 5px;
}
.cancel_btn {
  border: 2px black solid;
  font-size: 15px;
  background-color: red;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s;
  font-weight: bold;
}
.cancel_btn:hover {
  background-color: brown;
}
/* education-header */
.edu_header_container {
  margin-top: 5px;
}
.edu_header_h1 {
  background-color: lightblue;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.edu_holder {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
